*.db
*.suo
source/NatNetThree2OSC.VC.VC.opendb
*.tlog
*.log
source/bin/x86/NatNetThree2OSC.exe.config
source/NatNetThree2OSC/obj/x86/Debug/NatNetThree2OSC.pdb
source/NatNetThree2OSC/obj/x86/Debug/NatNetThree2OSC.exe
source/bin/x86/NatNetThree2OSC.pdb
source/bin/x86/NatNetThree2OSC.exe
source/.vs/NatNetThree2OSC/v15/Solution.VC.db-wal
source/.vs/NatNetThree2OSC/v15/Solution.VC.db-shm
source/.vs/NatNetThree2OSC/v15/Server/sqlite3/db.lock
source/.vs/NatNetThree2OSC/v15/Server/sqlite3/storage.ide
source/NatNetThree2OSC/obj/x86/Debug/NatNetThree2OSC.csproj.CopyComplete
source/.vs/
source/NatNetThree2OSC/obj/
*.user
